<div>
  <div *ngFor="let cat of categories">
    <div style="text-align:right"><h1>{{cat | titlecase}}</h1></div>
  <div class="app">
      <div class="item" *ngFor="let item of filterItemsOfType(cat)"  style= "background: linear-gradient(to bottom,transparent,transparent,black,black), url({{item.image}});">
        <div class="item-label">
          <div>{{item.label ? (item.label | titlecase ): "Fusion" | titlecase}}</div></div>
          <div class="item-content">
            <div class="item-content-top">
              <div>
               <h1>{{item.name | titlecase}}</h1>
               <img src="./assets/icon/Icon feather-clock.png" alt="time">20 mins
              </div>
            <div (click)="addFavourite(item)">
              <img  src="./assets/icon/Icon feather-heart-color.png" alt="favourite">
              <img  src="./assets/icon/Icon feather-heart.png" alt="notFavourite">
            </div>
            </div>
            <div class="item-content-bottom">
              {{item.description}}
            </div>
             <div class="overlay">
      </div>
      <div class="button-container"> 
       <button class="button" (click)="viewDetails(item.id)">View Details</button>
       <br>
       <br>
       <button class="button">Quick View</button>
       </div>
          </div>
      
      
      
      </div>
     
  </div>
  </div>
</div>