.search-header {
  display: flex;
  justify-content: center
}

.searchBar {
  border: none;
  outline: none;
  width: 200px;
}
.app {
  display: grid;
  grid-gap: 15px; 
  overflow: hidden;
  /* grid-template-columns: repeat(auto-fill, 200px); */
  /* grid-template-columns: repeat(auto-fill, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) 150px); */
  grid-auto-flow: dense;
  color:#ffff;
}

.item {
  /* border: 1px solid grey; */
  border-radius: 10px;
  background-repeat: no-repeat no-repeat;
  height: 300px;
  background-size: cover;
  position: relative;
}

.item:nth-of-type(3n) {
  grid-column: span 2;  
}

.item:nth-of-type(5n) {
  grid-row: span 2;  
}

.item-label {
display: flex;
justify-content: flex-end;
}
.item-label div {
padding:5px 10px;
background: black;
border-bottom-left-radius: 10px;
border-top-right-radius: 10px
}

.item-content {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
.item-content-top {
  display: flex;
  justify-content: space-between
}
.item-content-bottom {
  padding:20px
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}
.item:hover {
  cursor: pointer;
}
.item:hover .overlay {
  display: block;
  background: rgba(97, 94, 94, 0.733);
}

.button-container {
  position: absolute;
  width: 100%;
  left:0;
  top: 120px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  /* display: flex;
  justify-content: center */
}

.item:hover .button-container {
  opacity: 1;
}

button {
  padding:5px 15px;
  border-radius: 3px;
  border:.5px solid;
  background: inherit;
  color:white;
}
