/* html {
  font-family: Lato;
} */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  /* font-family: Arial; */
  background-position:top 10px left 10px,top 10px right 10px,bottom 10px right 10px,bottom 10px left 10px;
  
  background-size: 86px;
  background-repeat: no-repeat;
  
  background-image:url(https://raw.githubusercontent.com/ashvolt/hackedrecipe/master/src/assets/Images/Illustration1.png),url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/angles-top-right.svg),url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/angles-bottom-right.svg),url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/angles-bottom-left.svg);
}

.search-header {
  display: flex;
  justify-content: center
}

.searchBar {
  border: none;
  outline: none;
  width: 200px;
}